.all-box {
  height: 100% !important;

  .gantt-box {
    height: calc(100% - 32px) !important;

    .gantt_layout_root {
      height: 100% !important;
      width: 100% !important;

      .gantt_layout_cell_border_right {
        height: 100% !important;

        .gantt_layout_cell_border_transparent {
          height: calc(100% - 15px) !important;

          .gantt_layout_content {
            height: 100% !important;

            .gantt_grid_data {
              height: auto !important;
            }
          }

        }
      }

      .gantt_layout_y:last-child {
        height: 100% !important;
        width: calc(100% - 400px) !important;
      }

      .gantt_layout_cell {

        .timeline_cell {
          height: calc(100% - 15px) !important;
          width: 100% !important;

          .gantt_layout_content {
            height: 100% !important;

            .gantt_data_area {
              height: auto !important;
            }

            .gantt_task_scale {

              .gantt_scale_line {

                .gantt_scale_cell {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .date-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .day,
                    .week-day {
                      height: 16px;
                    }
                  }
                }
              }
            }
          }
        }

        .scrollTime_cell {
          width: 100% !important;

          .gantt_layout_content {
            .gantt_hor_scroll {
              width: 100% !important;
            }
          }
        }
      }
    }
  }

}